beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2019.3.9
chardet==3.0.4
Django==2.1.7
django-cors-headers==2.5.2
djangorestframework==3.9.2
idna==2.8
image==1.5.27
mysqlclient==1.4.2.post1
Pillow==9.0.1
pycryptodomex==3.7.2
PyMySQL==0.9.3
python-alipay-sdk==1.10.0
pytz==2019.1
qrcode==6.1
redis==3.2.1
requests==2.21.0
six==1.12.0
soupsieve==1.9.1
sqlparse==0.3.0
urllib3==1.24.1
